
html{
  width:100%;
  overflow-x: hidden;
}

#spacer{
  height: 2000px;
}

input:hover{
  cursor: text;
}

/************* Header **************/

#header{
  width: 100%;
}

#header-wrapper{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#header a{
  font-size: 9pt;
}

.header-right{
  position: relative;
  right: 0;
  top:0;
  float: right;
}

#search-input{
  text-align: center;
  margin-left: 10px;
}

#search-group{
    width: 100%;
}
#search-form{
  float: right;
  margin: 7px 10px 10px 10px;
}
#header-links{
  float: right;
  font-size: 9pt;
}


@media (min-width: 320px) and (max-width: 767px) { /* Mobile */
  .brand img{
    margin: 20px auto;
  }
  #header-social{
    display: none;
  }
  #header-links{
    margin: 0 10px 7px 0;
  }
}

@media (min-width: 768px) { /* Desktop */
  #search-form{
    max-width: 350px;
  }
  .brand img{
    margin: 30px 50px;
  }
  #header-social{
    margin: 0 10px 0 0;
    float: right;
  }
  #header-links{
    margin: 30px 10px 7px 0;
  }
}

/************* NavBar **************/

.fullwidth-nav{
  width: 100%;
  background: #f8f8f8;
  border-top: 1px solid #e7e7e7;
}

.navbar-brand{
  padding-left: 30px;
  font-size: 18px;
  color: black;
  font-family: 'Roboto Condensed';
  border-right: 1px solid #e7e7e7;
}

.department-nav{
  position: relative;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.175);
}

li.dropdown.open>a.dropdown-toggle{
  background: #e7e7e7;

}

.navbar-nav>li>a.dropdown-toggle:hover{
  background: #e7e7e7;
}

.navbar-nav>li.open>a.dropdown-toggle:focus{
  background: #e7e7e7;
}

div.yamm-content>.row>div>h1, div.yamm-content>.row>div>h2, div.yamm-content>.row>div>h3{
  font-family: 'Roboto Condensed';
}

.nav-wrapper{
  max-width: 1170px;
  background: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
}

.dark-nav{
  background: #f0f0f0;
}

ul.navbar-right > li > form > div > input {
  /*font-family: 'Helvetica Neue';*/
  font-family: 'Roboto Condensed';
  -webkit-user-select: auto;
  /*background: inherit;*/
}

.dropdown.yamm-fw .dropdown-menu{
  left: 0;
  right: 0;
  background: #e7e7e7;
  z-index: 20;
}

ul.navbar-nav > li > a{
  font-size: 18px;
  font-family: 'Roboto Condensed';
}

.navbar{
  border-radius: 0;
  border: none;
}

nav.navbar{
  margin: 0;
}

.dropdown-toggle > .fa-angle-down{
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 39% 45%;
          transform-origin: 39% 45%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

.dropdown-toggle > .fa-angle-down.up-angle{
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transform-origin: 39% 45%;
          transform-origin: 39% 45%;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}


@media (min-width: 768px) {
  #courses{ /* keeps it from wrapping*/
    padding-left: 0;
  }
  .navbar-collapse .collapse-divider{
    display: none;
  }
}

@media (max-width: 767px) {
  .navbar-collapse .collapse-divider{
    height: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #ddd;
  }
}

/******* Results *******/
/*.results-wrapper{
  margin-left: auto;
  margin-right: auto;
  margin-top:100px;
}*/

#results-wrapper{
  height: 0;
  padding: 0;
  margin: 0;
}

#gsc-searchbox-wrapper{
  display: none;
  height: 0;
  width: 0;
  overflow: hidden;
}
