
body{
  background: gray;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed';
}

p{
  font-family: 'Helvetica Neue';
}

.grid-wrap{
  max-width: 1500px;
  background: blue;
  margin: auto;
}

.grid{
  width: 100%;
  list-style: none;
  background: yellow;
}

.grid-sizer{
  width: 100%;
}

.grid li{
  width: 25%;
  float: left;
}

.grid figure{
  margin: 15px;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.grid figure:hover{
  opacity: .8;
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
}

.grid li figcaption{
  padding: 25px;
  background: #e4e4e4;
}

.grid li figcaption h3{
  color: #384660;
  font-size: 17px;
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
}

.grid li figcaption p{
  font-size: 14px;
  margin: 0;
  padding: 0;
}

img{
  width:100%;
}
