body{
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: helvetica;
}

.grid{
  height: auto;
  width: 70%;
  padding: 0;
}

.msn-item{
  box-sizing: border-box;
}

.num1{
  width: 600px;
  background: #eee;
}

.num1 .msn-item{
  background: white;
  width: 200px;
}

.num2{
  background: #daa;
}
.num2 .item{
  background: #bcf;
  min-width: 200px;
}

.num3{
  background: #3aa;
}

.num3 .item{
  background: #cbf;
  min-width: 250px;
}

.item{
  min-width: 200px;
  border-radius: 5px;
  margin: 5px;
}

.big{
  width: 400px;
}

.demo{
  position: relative;
}

.demo::after{
  clear: both;
}

.demo .caption{
  width: 30%;
  float: left;
}

.demo .grid{
  width: 70%;
  float: right;
}

code{
  /*background: #ddd;*/
}

.ex-code{
  margin: auto;
  background: #ddd;
  width: auto;
}
