@font-face {
  font-family: 'BebasNeue Bold';
  src: url("https://caas.usu.edu/_resources/fonts/BebasNeue Bold.otf") format("opentype");
}
/* line 9, ../sass/style.scss */
.main-container-wide .main-content .row {
  margin: 0;
}

/* line 14, ../sass/style.scss */
#section-1 {
  background: #0F2538;
  width: 100%;
}
/* line 18, ../sass/style.scss */
#section-1 .side-heading {
  margin-top: 40px;
  text-align: center;
}
/* line 21, ../sass/style.scss */
#section-1 .side-heading h1 {
  color: #f0f0f0;
  font-size: 30pt;
  margin: 15px;
  font-family: 'BebasNeue Bold';
  letter-spacing: 1px;
}
/* line 31, ../sass/style.scss */
#section-1 .logo-wrapper img {
  margin: 50px auto;
  width: 100%;
}
