/* line 3, ../sass/style.scss */
.ut-sci-content {
  font-family: 'Open Sans';
  background: #fefefe;
  margin: 0;
  padding: 0;
  height: auto;
}
/* line 9, ../sass/style.scss */
.ut-sci-content .ut-sci-header {
  padding: 20px;
  margin: 0 auto 0 auto;
  width: 100%;
  background: #0F2439;
}
/* line 10, ../sass/style.scss */
.ut-sci-content .ut-sci-header .head-wrapper {
  max-width: 1200px;
  margin: auto;
}
/* line 20, ../sass/style.scss */
.ut-sci-content .ut-sci-header h1.title {
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  font-family: 'Oxygen';
}
/* line 29, ../sass/style.scss */
.ut-sci-content .ut-sci-header h1.title span {
  font-weight: 700;
}
/* line 33, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col {
  text-align: center;
  margin: 0;
}
/* line 36, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a {
  position: relative;
  top: 50px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/* line 42, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a::before {
  content: '';
  position: absolute;
  left: -5%;
  top: 100%;
  height: 1px;
  width: 110%;
  background: white;
  transition: all 0.3s ease;
}
/* line 52, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a::after {
  content: '';
  position: absolute;
  left: 50%;
  top: calc(100% + 2px);
  height: 1px;
  width: 0;
  background: white;
  transition: all 0.3s ease;
}
/* line 62, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a:hover::after, .ut-sci-content .ut-sci-header .link-col a:focus::after {
  left: 10%;
  width: 80%;
}
/* line 74, ../sass/style.scss */
.ut-sci-content .cover-row {
  position: relative;
  top: 0;
  margin: auto;
  height: 500px;
  padding: 20px;
  background: white;
  max-width: 1200px;
}
/* line 83, ../sass/style.scss */
.ut-sci-content .cover-row .cover {
  padding: 30px;
  perspective: 1000px;
  height: 100%;
}
/* line 87, ../sass/style.scss */
.ut-sci-content .cover-row .cover img {
  height: 100%;
  box-shadow: 20px 10px 30px rgba(40, 20, 10, 0.3);
  transform: rotateY(-10deg) translateZ(0);
  position: relative;
  transition: all 0.4s ease;
}
/* line 94, ../sass/style.scss */
.ut-sci-content .cover-row .cover:hover img {
  box-shadow: 20px 12px 31px 1px rgba(40, 20, 10, 0.3);
  transform: rotateY(-12deg) translateZ(5px);
}
/* line 99, ../sass/style.scss */
.ut-sci-content .cover-row .this-issue {
  font-family: 'Oxygen';
  text-align: center;
}
/* line 103, ../sass/style.scss */
.ut-sci-content .cover-row .this-issue h1 {
  font-weight: inherit;
  margin-top: 100px;
  color: inherit;
  font-family: inherit;
  font-size: 80px;
}
/* line 110, ../sass/style.scss */
.ut-sci-content .cover-row .this-issue h3 {
  font-weight: inherit;
  margin-top: 150px;
  font-size: 30px;
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
  cursor: pointer;
}
/* line 121, ../sass/style.scss */
.ut-sci-content .story-row {
  height: 400px;
  background: grey;
}

@media (max-width: 768px) {
  /* line 128, ../sass/style.scss */
  .side-col {
    position: absolute;
    top: 0;
  }
}
