/* line 3, ../sass/style.scss */
.ut-sci-content {
  font-family: 'Roboto Slab';
  background: #fefefe;
  margin: 0;
  padding: 0;
  height: auto;
}
/* line 9, ../sass/style.scss */
.ut-sci-content .ut-sci-header {
  padding: 20px;
  margin: 0 auto 0 auto;
  width: 100%;
  background: #0F2439;
}
/* line 10, ../sass/style.scss */
.ut-sci-content .ut-sci-header .head-wrapper {
  max-width: 1200px;
  margin: auto;
}
/* line 20, ../sass/style.scss */
.ut-sci-content .ut-sci-header h1.title {
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  font-family: 'Antique Olive';
}
/* line 28, ../sass/style.scss */
.ut-sci-content .ut-sci-header h1.title span {
  font-weight: 700;
}
/* line 32, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col {
  text-align: center;
  margin: 0;
}
/* line 35, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a {
  position: relative;
  top: 50px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}
/* line 41, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a::before {
  content: '';
  position: absolute;
  left: -5%;
  top: 100%;
  height: 1px;
  width: 110%;
  background: white;
  transition: all 0.3s ease;
}
/* line 51, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a::after {
  content: '';
  position: absolute;
  left: 50%;
  top: calc(100% + 2px);
  height: 1px;
  width: 0;
  background: white;
  transition: all 0.3s ease;
}
/* line 61, ../sass/style.scss */
.ut-sci-content .ut-sci-header .link-col a:hover::after, .ut-sci-content .ut-sci-header .link-col a:focus::after {
  left: 10%;
  width: 80%;
}
/* line 73, ../sass/style.scss */
.ut-sci-content .current-issue {
  background: #333;
  position: relative;
  padding: 10px;
}
/* line 77, ../sass/style.scss */
.ut-sci-content .current-issue .cover {
  height: 100%;
  float: right;
  margin-right: 10%;
  position: relative;
}
/* line 82, ../sass/style.scss */
.ut-sci-content .current-issue .cover img {
  height: 100%;
}
/* line 86, ../sass/style.scss */
.ut-sci-content .current-issue .this-issue {
  float: left;
  margin-left: 20%;
  position: relative;
  font-weight: 300;
  text-align: center;
  color: white;
  font-family: 'Roboto Slab';
}
/* line 95, ../sass/style.scss */
.ut-sci-content .current-issue .this-issue h1 {
  font-weight: inherit;
  margin-top: 30%;
  color: inherit;
  font-family: inherit;
  font-size: 70px;
}
/* line 102, ../sass/style.scss */
.ut-sci-content .current-issue .this-issue h3 {
  font-weight: inherit;
  margin-top: 30%;
  font-size: 30px;
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
  cursor: pointer;
}
/* line 113, ../sass/style.scss */
.ut-sci-content .story-grid {
  height: 1000px;
  width: 100%;
  background: #eef;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
/* line 122, ../sass/style.scss */
.ut-sci-content .story-grid .story-item {
  position: relative;
  overflow: hidden;
}
/* line 125, ../sass/style.scss */
.ut-sci-content .story-grid .story-item img {
  position: absolute;
  top: -1%;
  left: -1%;
  min-width: 102%;
  min-height: 102%;
  transition: all 0.2s ease;
}
/* line 134, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card {
  transition: all 0.25s ease;
  position: absolute;
  left: 5%;
  bottom: 10%;
  padding: 15px;
  max-width: 90%;
  border: 1px solid white;
  background: rgba(10, 10, 10, 0.5);
}
/* line 143, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card h2, .ut-sci-content .story-grid .story-item .story-card p {
  color: white;
  font-family: 'Roboto Slab';
}
/* line 147, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card p {
  font-weight: 300;
  font-size: 16px;
}
/* line 151, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card h2 {
  font-weight: 300;
  font-size: 26px;
}
/* line 155, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card .author {
  font-weight: 300;
  margin-bottom: 20px;
}
/* line 159, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card .see-article {
  text-align: center;
  position: relative;
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border: 1px solid white;
  padding: 6px 20px;
  margin-left: 5px;
  cursor: pointer;
}
/* line 171, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card .see-article::after, .ut-sci-content .story-grid .story-item .story-card .see-article::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  transition: all 0.27s ease;
}
/* line 181, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card .see-article:hover::after {
  left: -4px;
  top: -4px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
}
/* line 187, ../sass/style.scss */
.ut-sci-content .story-grid .story-item .story-card .see-article:hover::before {
  left: 2px;
  top: 2px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
}
/* line 196, ../sass/style.scss */
.ut-sci-content .story-grid .story-item:hover img {
  -webkit-filter: blur(3px);
}

/* line 207, ../sass/style.scss */
#one {
  background: blue;
}

/* line 210, ../sass/style.scss */
.row-1 {
  border-left: 1px solid black;
}

/* line 213, ../sass/style.scss */
.spacer {
  height: 300px;
}

@media (max-width: 768px) {
  /* line 218, ../sass/style.scss */
  .side-col {
    position: absolute;
    top: 0;
  }
}
